.input {
    height: 50px;
    padding-left: 12px;
    border: 1px solid #fff;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    color: #fff;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.wrapper {
    position: relative;

    textarea {
        min-height: 100px;
        resize: none;
        padding-top: 17px;
    }
}

.label {
    position: absolute;
    top: 15px;
    left: 12px;
    color: #fff;
    pointer-events: none;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}